.content_container {
    height: 100%;
    width: 75%;
    margin-left: 12vw;
    /* border: 2px black solid; */
}

.header_container {
    height: 20vh;
    width: 38vw;
    position: absolute;
    margin-top: 30vh;
    margin-left: 8vw;
    text-align: left;
    /* border: 2px black solid; */
}

.header_text {
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    color: rgb(231, 179, 127);
}

.button_container {
    height: 5vh;
    width: 8vw;
    position: absolute;
    margin-top: 68.5vh;
    margin-left: 7vw;
    text-align: left;
    /* border: 2px black solid; */
}

